<div class="movie">
  <h2><%= @movie.title %>, <%= @movie.year %></h2>
  <img src="<%= @movie.cover %>">
  <p><%= @movie.plot %></p>
  <%= link "Back", to: movie_path(@conn, :index), class: "back" %>
</div>
